
.top-bar{
    background:linear-gradient( 75deg, rgb(178, 207, 204), rgb(166, 204, 188), rgb(172, 230, 238));
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    float: left;
    margin-left: 20px;
    font-weight: bold;
    align-content: center;
    font-size: 11px;


}
.title h2:hover{
    color:blue;

}

.nav-links{
    float: right;
    height: 20px;
    margin-right: 30px;
    font-size: 14px;
    font-weight: bold;
    word-spacing: 70px;


}
.nav-links a:hover{
    color: #000;
}
body{
    background-color: rgb(221, 243, 243);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.head{
    margin: 10px 0px 5px 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: darkmagenta;
    font-size: 12px;


}


.introductory{
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.8;

}

.container{
    margin: 10px 30px 10px 30px; 
    display: flex;
    height: 600px;
    width: 1750px;
    background-color: rgb(197, 224, 224);
    border: 1px solid rgb(139, 169, 252);
    border-radius: 30px;
    
}


.jumbotron-right {
    margin: 50px;
    display: flex;
    width: 800px;
    height: 500px;
    float: right;
    background: url("https://lh3.googleusercontent.com/dqRF_Fi81_-9cSgk3yGAWUqjgMzivtt2WUKajqAiLWx9q9eWfCJmrGxEzY74amjKMrnrO8a-yn4Yv7f8lkc=s1200");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jumbotron-left {
    margin: 50px;
    display: flex;
    width: 800px;
    height: 500px;
    float: left;
    background: url("https://mdundo.com/media/articles/1564558308_8928_b.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}



    
    footer{
        margin-top: 60px;
        display: flex;
        align-content: center;
        justify-content: center;
        padding-bottom: 20px;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 500;
    
    }